services:
  app:
    build: ./app
    container_name: node_app
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mariadb:10.6
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb

